[maxscale]
threads=auto

[server1]
type=server
address=mariadb
port=3306
protocol=MySQLBackend
persistpoolmax=20
persistmaxtime=1800

[MySQL Monitor]
type=monitor
module=mysqlmon
servers=server1
user=root
passwd=myrootpass
monitor_interval=10000

[Read-Write Service]
type=service
router=readwritesplit
servers=server1
user=root
passwd=myrootpass
max_slave_connections=100%

[MaxAdmin Service]
type=service
router=cli

[Read-Write Listener]
type=listener
service=Read-Write Service
protocol=MySQLClient
port=3306

[MaxAdmin Listener]
type=listener
service=MaxAdmin Service
protocol=maxscaled
port=6603
