[maxscale]
threads=auto

[server1]
type=server
address=mariadb
port=3306
protocol=MariaDBBackend
persistpoolmax=20
persistmaxtime=1800

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1
user=root
password=myrootpass
monitor_interval=5000

[Read-Write-Service]
type=service
router=readwritesplit
servers=server1
user=root
password=myrootpass
max_slave_connections=100%

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MariaDBClient
port=3306
